h2#action  ---

table.at-star
  tr
    td.label Fuel Cost
    td#fuelCost
  tr
    td.label Repair Cost
    td#repairCost
  tr
    td.label Missiles Cost
    td#missilesCost

table.fight
  tr
    td.label shields
    td#enemy-shields --
  tr
    td.label hull
    td#enemy-hull --
.fight#enemy-ship
