h2 Commands
section#commands
  .at-star
    .btn#purchaseFuel Refuel
  .at-star
    .btn#repairShip Repair
  .at-star
    .btn#searchPlanet Seach Planet
  .at-star
    .btn#purchaseMissiles Purchase Missiles

  .fight
    .btn.attack-btn#fire-lasers Fire Lasers
    .btn.attack-btn#fire-missile Fire Missile
