h2 Commands
section#commands
  .star
    .btn#purchaseFuel Refuel
      span#purchaseFuelCost
  .star
    .btn#repairShip Repair
      span#repairShipCost
  .star
    .btn#searchPlanet Seach Planet
  .star
    .btn#purchaseItems Shop
    
