h2 Commands
section#commands
  .star
    .btn#purchaseFuel Refuel
  .star
    .btn#repairShip Repair
  .star
    .btn#searchPlanet Seach Planet
  .star
    .btn#purchaseMissiles Purchase Missiles
    
