extends layout

block main
  .index
    nav
      h1 Archeology Simulator 3092
      p Can you find the ancient technology and retire to your own personal moon?
    
    section.tutorial
      p You are but a humble Archeologist in the year 3092 trying to find an artifact of amazing value that will finally allow you to prove your parents wrong about not becomming a pirate. If you get this artifact you will be able to sell it to a museum and retire to your own personal private moon.
      
      p The only problem is that those pesky pirates found out about the ancient artifact and have a head start searching for it. You will need to fight your way past them to search the ancient ruins on each planet.
      
      p As you approach the first system that you believe has ruins in it, your sensors report a pirate presence. Use your missiles and lasers to destroy your opponents to reach the planet. Hopefully you will only have to fight one pirate, but there are reports of the pirate bosses arriving to aid in the search as well.
      
      p Once on a planet, search for artifacts. You may find useful items to upgrade your ship to make yourself more powerful. After searching don't forget to resupply your ship for the next phase of your journey. Its game over if you get stranded because you forgot to refuel your ship before heading to the next system.
      
      p Are you ready? Click play game to get started!
    
    section
      .btn
        a(href='/game') Play game
