extends layout

block main
  .index
    h1 Archeology Simulator 3092
    p Can you find the ancient technology and retire to your own personal moon?
    
    section
      .btn
        a(href='/game') Play game
