extends layout

block main
  h1 Welcome to the space trading game!
  p Can you find the ancient technology and retire to your own personal moon?
  
  section
    .button
      a(href='/game') Play game
