h2 Ship Status
table
  tr
    td.label fuel
    td
      span#currentFuel --
      span /
      span#maxFuel --
  tr
    td.label shields
    td
      span#currentShields --
      span /
      span#maxShields --
  tr
    td.label missiles
    td
      span#currentMissiles --
      span /
      span#maxMissiles --
  tr
    td.label hull
    td
      span#currentHull --
      span /
      span#maxHull --
  tr
    td.label Money
    td
      span#money --
