body
  width: 100vw
  background-color: black
  background-image: url(/images/background.png)
  background-size: 10px

.btn
  cursor: pointer

.hidden
  display: none

main
  height: 600px
  width: 960px
  margin: 10px
  position: absolute

.star-map
  height: 1px / 3px * 100%
  background-color: black
  position: relative

  .star-system
    background-color: white
    width: 10px
    height: 10px
    position: absolute
    border-radius: 50%
    color: white
    cursor: pointer

    .has-artifact-color
      color: red

    .star-name
      margin-top: 10px

  .player
    background-image: url('/images/player.png')
    height: 32px
    width: 32px
    position: relative

  .explored
    color: yellow

.game-area
  height: 2px / 3px * 100%
  background-color: gray

  h2
    text-align: center
    border-bottom: 1px solid black
    margin-left: 50px
    margin-right: 50px

  .commands
    height: 100%
    width: 3px / 10px * 100%
    display: inline-block
    background-color: #504F4F
    background-image: url(/images/metal-background.png)
    background-repeat: no-repeat
    background-size: contain

    .btn
      background-color: gray
      margin: 5px 10px
      text-align: center
      padding: 10px 5px
      border-radius: 5%

  .action
    height: 100%
    width: 4px / 10px * 100%
    background-color: #47d4df
    display: inline-block
    position: absolute
    height: 2px / 3px * 100%

    table
      margin: auto
      font-size: 1.3em

      .label
        width: 200px

    .normalEnemy
      background-image: url('/images/normal-pirate.png')
      width: 40%
      height: 40%
      background-repeat: no-repeat
      background-size: contain
      margin: auto

      .bossEnemy
        background-image: url('/images/boss-pirate.png')
        width: 40%
        height: 40%
        background-repeat: no-repeat
        background-size: contain
        margin: auto

    .action-messages
      text-align: center

    .player
      color: blue

    .enemy-color
      color: red

  .info
    height: 100%
    width: 3px / 10px * 100%
    display: inline-block
    position: absolute
    height: 2px / 3px * 100%
    left: 7px / 10px * 100%
    background-color: #504F4F
    background-image: url(/images/metal-background.png)
    background-repeat: no-repeat
    background-size: contain

    table
      color: #808080
      margin: auto
      font-size: 1.3em

      .label
        width: 150px

.index
  margin-bottom: 10em

  h1
    color: #C69A66

  p
    color: #F2F3F6
    margin-left: 25px

  .btn
    height: 25px
    width: 100px
    background-color: #F2F3F6
    margin: auto
    text-align: center

  a
    text-decoration: none
    line-height: 25px

  .tutorial
    width: 25em
    margin: auto
    margin-top: 3em
    font-size: 1.3em

    p
      line-height: 1.3em
