body {
  width: 100vw;
  background-color: black;
  background-image: url(/images/background.png);
  background-size: 10px; }

.btn {
  cursor: pointer;
  background-color: gray;
  margin: 5px 10px;
  text-align: center;
  padding: 10px 5px;
  border-radius: 5%; }
  .btn a {
    text-decoration: none; }

.hidden {
  display: none; }

main {
  height: 600px;
  width: 960px;
  margin: 10px;
  position: absolute; }

.star-map {
  height: 33.33333%;
  background-color: black;
  position: relative; }
  .star-map .star-system {
    background-color: white;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    color: white;
    cursor: pointer; }
    .star-map .star-system .has-artifact-color {
      color: red; }
    .star-map .star-system .star-name {
      margin-top: 10px; }
  .star-map .player {
    background-image: url("/images/player.png");
    height: 32px;
    width: 32px;
    position: relative; }
  .star-map .explored {
    color: yellow; }

.game-area {
  height: 66.66667%;
  background-color: gray; }
  .game-area h2 {
    text-align: center;
    border-bottom: 1px solid black;
    margin-left: 50px;
    margin-right: 50px; }
  .game-area .commands {
    height: 100%;
    width: 30%;
    display: inline-block;
    background-color: #504F4F;
    background-image: url(/images/metal-background.png);
    background-repeat: no-repeat;
    background-size: contain; }
    .game-area .commands .btn {
      color: #fff; }
  .game-area .action {
    height: 100%;
    width: 40%;
    background-color: #47d4df;
    display: inline-block;
    position: absolute;
    height: 66.66667%;
    overflow: hidden; }
    .game-area .action table {
      margin: auto;
      font-size: 1.3em; }
      .game-area .action table .label {
        width: 200px; }
    .game-area .action .normalEnemy {
      background-image: url("/images/normal-pirate.png");
      width: 40%;
      height: 40%;
      background-repeat: no-repeat;
      background-size: contain;
      margin: auto; }
      .game-area .action .normalEnemy .bossEnemy {
        background-image: url("/images/boss-pirate.png");
        width: 40%;
        height: 40%;
        background-repeat: no-repeat;
        background-size: contain;
        margin: auto; }
    .game-area .action .action-messages {
      text-align: center; }
    .game-area .action .player {
      color: blue; }
    .game-area .action .enemy-color {
      color: red; }
  .game-area .info {
    height: 100%;
    width: 30%;
    display: inline-block;
    position: absolute;
    height: 66.66667%;
    left: 70%;
    background-color: #504F4F;
    background-image: url(/images/metal-background.png);
    background-repeat: no-repeat;
    background-size: contain; }
    .game-area .info table {
      color: #fff;
      margin: auto;
      font-size: 1.3em; }
      .game-area .info table .label {
        width: 150px; }

.index {
  margin-bottom: 10em; }
  .index h1 {
    color: #C69A66; }
  .index p {
    color: #F2F3F6;
    margin-left: 25px; }
  .index .btn {
    height: 25px;
    width: 100px;
    background-color: #F2F3F6;
    margin: auto;
    text-align: center; }
  .index a {
    text-decoration: none;
    line-height: 25px; }
  .index .tutorial {
    width: 25em;
    margin: auto;
    margin-top: 3em;
    font-size: 1.3em; }
    .index .tutorial p {
      line-height: 1.3em; }

.gameover {
  background-color: #CFD2D8;
  height: 100%;
  overflow: scroll; }
  .gameover h1, .gameover h2, .gameover p {
    text-align: center; }
  .gameover .player-report {
    margin-top: 5em; }
    .gameover .player-report p, .gameover .player-report ul {
      text-align: left;
      margin-left: 33.33333%; }
  .gameover .btn {
    width: 5em;
    margin: auto; }

.danger {
  color: red; }

.warning {
  color: #FFBF00; }

/*# sourceMappingURL=style.css.map */