body
  width: 100vw

main
  border: 1px solid red
  height: 600px
  width: 960px
  margin: 10px
  position: absolute

.star-map
  height: 1px / 3px * 100%
  background-color: black
  position: relative

  .star-system
    background-color: white
    width: 10px
    height: 10px
    position: absolute
    border-radius: 50%
    color: white

    .star-name
      margin-top: 10px

  .player
    background-image: url('/images/player.png')
    height: 32px
    width: 32px
    position: relative

.game-area
  height: 2px / 3px * 100%
  background-color: gray

  h2
    text-align: center
    border-bottom: 1px solid black
    margin-left: 50px
    margin-right: 50px

  .commands
    height: 100%
    width: 3px / 10px * 100%
    background-color: blue
    display: inline-block

  .action
    height: 100%
    width: 4px / 10px * 100%
    background-color: green
    display: inline-block
    position: absolute
    height: 2px / 3px * 100%

  .info
    height: 100%
    width: 3px / 10px * 100%
    background-color: yellow
    display: inline-block
    position: absolute
    height: 2px / 3px * 100%
    left: 7px / 10px * 100%

    table
      margin: auto
      font-size: 1.3em

      .label
        width: 150px
